# Database Details
DB_USER=reak
DB_PASSWORD=reak
DB_NAME=reakgo

# Session Details
SESSION_KEY=reakgo
SESSION_NAME=reakgo

# App Server Configuration
WEB_PORT=4000

# values can be microservice or monolith
APP_IS=

# Token Caching Configuration
TOKEN_CACHE_SIZE = 500

# CSRF Secret Key (Needs to be precisely 32 chars)
CSRF_SECRET_KEY = _NEEDS_TO_BE_PRECISELY_32_CHARS_
