{{define "index"}}
{{template "header"}}
{{template "alert"}}
<div class="grid grid-cols-3 gap-4 mb-4">
    <!-- Card -->
    <div class="bg-white rounded overflow-hidden shadow-lg flex">
      <span class="text-6xl w-40 text-gray-700 flex justify-center my-auto">
        <i class="bx bx-group"></i>
      </span>
      <div class="p-2 text-justify my-auto">
        <span
          class="text-gray-700 text-bold text-3xl text-md text-semibold block text-center"
        >
          Total Clubs
        </span>
        <span class="text-xl text-bold text-gray-600"> 25 </span>
      </div>
    </div>
    <!-- Card -->
    <div class="bg-white rounded overflow-hidden shadow-lg flex">
      <span class="text-6xl w-40 text-gray-700 flex justify-center my-auto">
        <i class="bx bx-user-voice"></i>
      </span>
      <div class="p-2 text-justify my-auto">
        <span
          class="text-gray-700 text-bold text-3xl text-md text-semibold block text-center"
        >
          Managers
        </span>
        <span class="text-xl text-bold text-gray-600"> 28 </span>
      </div>
    </div>
    <div class="bg-white rounded overflow-hidden shadow-lg flex">
      <span class="text-6xl w-40 text-gray-700 flex justify-center my-auto">
        <i class="bx bx-comment-check"></i>
      </span>
      <div class="p-2 text-justify my-auto">
        <span
          class="text-gray-700 text-bold text-3xl text-md text-semibold block text-center"
        >
          New Signing
        </span>
        <span class="text-xl text-bold text-gray-600"> Eden Hazard </span>
      </div>
    </div>
  </div>
  <div
    class="bg-white mt-2 lign-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200"
  >
    <!-- table start -->
    <table class="min-w-full">
      <thead>
        <tr>
          <th
            class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
          >
            Name
          </th>
          <th
            class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
          >
            Title
          </th>
          <th
            class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
          >
            Status
          </th>
          <th
            class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
          >
            Role
          </th>
          <th
            class="px-6 py-3 border-b border-gray-200 bg-gray-50"
          ></th>
        </tr>
      </thead>

      <tbody class="bg-white">
        <tr>
          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <img
                  class="h-10 w-10 rounded-full"
                  src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
                  alt=""
                />
              </div>

              <div class="ml-4">
                <div
                  class="text-sm leading-5 font-medium text-gray-900"
                >
                  John Doe
                </div>
                <div class="text-sm leading-5 text-gray-500">
                  john@example.com
                </div>
              </div>
            </div>
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <div class="text-sm leading-5 text-gray-900">
              Software Engineer
            </div>
            <div class="text-sm leading-5 text-gray-500">Web dev</div>
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <span
              class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
              >Active</span
            >
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500"
          >
            Owner
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium"
          >
            <a href="#" class="text-indigo-600 hover:text-indigo-900"
              >Edit</a
            >
          </td>
        </tr>
        <tr>
          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <img
                  class="h-10 w-10 rounded-full"
                  src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
                  alt=""
                />
              </div>

              <div class="ml-4">
                <div
                  class="text-sm leading-5 font-medium text-gray-900"
                >
                  John Doe
                </div>
                <div class="text-sm leading-5 text-gray-500">
                  john@example.com
                </div>
              </div>
            </div>
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <div class="text-sm leading-5 text-gray-900">
              Software Engineer
            </div>
            <div class="text-sm leading-5 text-gray-500">Web dev</div>
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <span
              class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
              >Active</span
            >
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500"
          >
            Owner
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium"
          >
            <a href="#" class="text-indigo-600 hover:text-indigo-900"
              >Edit</a
            >
          </td>
        </tr>
        <tr>
          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <img
                  class="h-10 w-10 rounded-full"
                  src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
                  alt=""
                />
              </div>

              <div class="ml-4">
                <div
                  class="text-sm leading-5 font-medium text-gray-900"
                >
                  John Doe
                </div>
                <div class="text-sm leading-5 text-gray-500">
                  john@example.com
                </div>
              </div>
            </div>
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <div class="text-sm leading-5 text-gray-900">
              Software Engineer
            </div>
            <div class="text-sm leading-5 text-gray-500">Web dev</div>
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <span
              class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
              >Active</span
            >
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500"
          >
            Owner
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium"
          >
            <a href="#" class="text-indigo-600 hover:text-indigo-900"
              >Edit</a
            >
          </td>
        </tr>
        <tr>
          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <img
                  class="h-10 w-10 rounded-full"
                  src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
                  alt=""
                />
              </div>

              <div class="ml-4">
                <div
                  class="text-sm leading-5 font-medium text-gray-900"
                >
                  John Doe
                </div>
                <div class="text-sm leading-5 text-gray-500">
                  john@example.com
                </div>
              </div>
            </div>
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <div class="text-sm leading-5 text-gray-900">
              Software Engineer
            </div>
            <div class="text-sm leading-5 text-gray-500">Web dev</div>
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <span
              class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
              >Active</span
            >
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500"
          >
            Owner
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium"
          >
            <a href="#" class="text-indigo-600 hover:text-indigo-900"
              >Edit</a
            >
          </td>
        </tr>
        <tr>
          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <img
                  class="h-10 w-10 rounded-full"
                  src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
                  alt=""
                />
              </div>

              <div class="ml-4">
                <div
                  class="text-sm leading-5 font-medium text-gray-900"
                >
                  John Doe
                </div>
                <div class="text-sm leading-5 text-gray-500">
                  john@example.com
                </div>
              </div>
            </div>
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <div class="text-sm leading-5 text-gray-900">
              Software Engineer
            </div>
            <div class="text-sm leading-5 text-gray-500">Web dev</div>
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <span
              class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
              >Active</span
            >
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500"
          >
            Owner
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium"
          >
            <a href="#" class="text-indigo-600 hover:text-indigo-900"
              >Edit</a
            >
          </td>
        </tr>
        <tr>
          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <img
                  class="h-10 w-10 rounded-full"
                  src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
                  alt=""
                />
              </div>

              <div class="ml-4">
                <div
                  class="text-sm leading-5 font-medium text-gray-900"
                >
                  John Doe
                </div>
                <div class="text-sm leading-5 text-gray-500">
                  john@example.com
                </div>
              </div>
            </div>
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <div class="text-sm leading-5 text-gray-900">
              Software Engineer
            </div>
            <div class="text-sm leading-5 text-gray-500">Web dev</div>
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <span
              class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
              >Active</span
            >
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500"
          >
            Owner
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium"
          >
            <a href="#" class="text-indigo-600 hover:text-indigo-900"
              >Edit</a
            >
          </td>
        </tr>
        <tr>
          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <img
                  class="h-10 w-10 rounded-full"
                  src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
                  alt=""
                />
              </div>

              <div class="ml-4">
                <div
                  class="text-sm leading-5 font-medium text-gray-900"
                >
                  John Doe
                </div>
                <div class="text-sm leading-5 text-gray-500">
                  john@example.com
                </div>
              </div>
            </div>
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <div class="text-sm leading-5 text-gray-900">
              Software Engineer
            </div>
            <div class="text-sm leading-5 text-gray-500">Web dev</div>
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <span
              class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
              >Active</span
            >
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500"
          >
            Owner
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium"
          >
            <a href="#" class="text-indigo-600 hover:text-indigo-900"
              >Edit</a
            >
          </td>
        </tr>
        <tr>
          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <img
                  class="h-10 w-10 rounded-full"
                  src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
                  alt=""
                />
              </div>

              <div class="ml-4">
                <div
                  class="text-sm leading-5 font-medium text-gray-900"
                >
                  John Doe
                </div>
                <div class="text-sm leading-5 text-gray-500">
                  john@example.com
                </div>
              </div>
            </div>
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <div class="text-sm leading-5 text-gray-900">
              Software Engineer
            </div>
            <div class="text-sm leading-5 text-gray-500">Web dev</div>
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
          >
            <span
              class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
              >Active</span
            >
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500"
          >
            Owner
          </td>

          <td
            class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium"
          >
            <a href="#" class="text-indigo-600 hover:text-indigo-900"
              >Edit</a
            >
          </td>
        </tr>
      </tbody>
    </table>
    <!-- table end -->
  </div>
</div>
<!-- main content end -->
</div>
</div>
<!-- Main container end -->
<!-- <h2>Index Page {{.Title}}</h2>
<form method="post">
<input type="text" name="key"></input>
<button type="submit">Test</button>
</form> -->
{{template "footer"}}
{{end}}
