{{define "teams"}}
{{template "header"}}
          <div class="grid grid-cols-3 gap-4 ">
            <!-- Card -->
            <div class="bg-white rounded-md overflow-hidden shadow-lg flex">
              <img src="assets/img/clubs/real.png" alt="logo" class="h-full w-24 p-2" />
              <div
                class="p-2 text-justify px-1"
              >
              <span class="text-gray-700 text-bold text-md uppercase block text-center">
                Real madrid cf
            </span>
                <span class="text-sm text-gray-500">
                  Real Madrid Club de Fútbol, commonly referred to as Real
                  Madrid, is a Spanish professional football club based in
                  Madrid.
                </span>
              </div>
            </div>
            <!-- Card -->
            <!-- Card -->
            <div class="bg-white rounded-md overflow-hidden shadow-lg flex">
              <img src="assets/img/clubs/chelsea.png" alt="logo" class="h-full w-24 p-2" />
              <div
                class="p-2 text-justify"
              >
              <span class="text-gray-700 text-bold text-md uppercase block text-center">
                  Chelsea FC
              </span>
                <span class="text-sm text-gray-500">
                  Chelsea Football Club are an English professional football club based in Fulham, London. Founded in 1905,
                </span>
              </div>
            </div>
            <!-- Card -->
            <!-- Card -->
            <div class="bg-white rounded-md overflow-hidden shadow-lg flex">
              <img src="assets/img/clubs/manu.png" alt="logo" class="h-full w-24 p-2" />
              <div
                class="p-2 text-justify"
              >
              <span class="text-gray-700 text-bold text-md uppercase block text-center">
                Manchester United FC
            </span>
                <span class="text-sm text-gray-500">
                  Manchester United Football Club is a professional football club based in Old Trafford, Greater Manchester, England.
                </span>
              </div>
            </div>
            <!-- Card -->
          </div>
        </div>
        <!-- content -->
      </div>
    </div>
    <!-- Main container end -->
    {{end}}
    {{template "footer"}}