<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <!-- Tailwind CSS -->
    <link href="./css/styles.css" rel="stylesheet" />
    <!-- Boxicons CDN -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />
    <!-- included Chart.js -->
    <script src="node_modules/chart.js/dist/Chart.bundle.min.js"></script>
    <link href="node_modules/chart.js/dist/Chart.min.css" rel="stylesheet" />
  </head>
  <body class="bg-blue-300">
    <!-- Main container start -->
    <div class="">
      <!-- header start -->
      <div class="bg-yellow-300 flex justify-between">
        <div class="flex px-2 py-1">
          <span class="flex items-center w-12 my-auto pl-2">
            <img class="" src="img/logo.png" alt="logo" />
          </span>
          <span
            class="text-gray-700 my-auto pl-2 font-sans font-bold text-lg text-center"
          >
            <h3>REAL MADRID CF</h3>
          </span>
        </div>
        <div class="flex pr-2">
          <div class="rounded-full m-3 bg-blue-300 px-3 py-1 mr-2 relative">
            <i class="bx bx-bell text-md text-gray-800 mt-1"></i>
            <!-- <span class="rounded-full bg-red-500 text-gray-300 py-1 px-2">2</span> -->
            <div
              class="absolute right-0 p-1 bg-red-400 rounded-full animate-ping"
            ></div>
            <div
              class="absolute right-0 p-1 bg-red-400 border rounded-full"
            ></div>
          </div>
          <button
            class="bg-blue-300 my-auto rounded-full py-2 px-5 text-gray-700 font-semibold focus:ring-2 focus:ring-blue-500 hover:bg-blue-800 hover:text-yellow-300 flex flex-row items-center"
          >
            <span class="inline-flex items-center pr-1 text-xl">
              <i class="bx bx-log-out" aria-hidden="true"></i>
            </span>
            <span class="font-medium text-md"> Logout </span>
          </button>
        </div>
      </div>
      <!-- header end -->
      <div class="flex overflow-y-hidden">
        <!-- sidenav start -->
        <div class="bg-blue-900 h-screen w-1/6 flex justify-center py-4">
          <ul>
            <li>
              <a
                href="/"
                class="flex flex-row items-center h-12 bg-blue-300 rounded-full pr-2  transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"
              >
                <span
                  class="inline-flex items-center justify-center h-12 w-12 text-2xl text-gray-700"
                  ><i class="bx bx-home"></i
                ></span>
                <span class="text-sm text-gray-700 font-medium text-xl"
                  >Dashboard</span
                >
              </a>
            </li>
            <li>
              <a
                href="stats.html"
                class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"
              >
                <span
                  class="inline-flex items-center justify-center h-12 w-12 text-2xl text-yellow-300"
                  ><i class="bx bx-stats"></i
                ></span>
                <span class="text-sm text-yellow-300 font-medium text-xl"
                  >Stats</span
                >
              </a>
            </li>
            <li>
              <a
                href="teams.html"
                class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"
              >
                <span
                  class="inline-flex items-center justify-center h-12 w-12 text-2xl text-yellow-300"
                  ><i class="bx bx-group"></i
                ></span>
                <span class="text-sm text-yellow-300 font-medium text-xl"
                  >Teams</span
                >
              </a>
            </li>
            <li>
              <a
                href="#"
                class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"
              >
                <span
                  class="inline-flex items-center justify-center h-12 w-12 text-2xl text-yellow-300"
                  ><i class="bx bx-edit"></i
                ></span>
                <span class="text-sm text-yellow-300 font-medium text-xl"
                  >Manage</span
                >
              </a>
            </li>
          </ul>
        </div>
        <!-- sidenav end -->
        <!-- main content start -->
        <div class="w-5/6 m-4">
          <div class="grid grid-cols-3 gap-4 mb-4">
            <!-- Card -->
            <div class="bg-white rounded overflow-hidden shadow-lg flex">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <!-- Card -->
            <div class="bg-white rounded overflow-hidden shadow-lg flex">
                <canvas id="myChart2" width="400" height="400"></canvas>
            </div>
            <div class="bg-white rounded overflow-hidden shadow-lg flex">
                <canvas id="myChart3" width="400" height="400"></canvas>
            </div>
          </div>
        </div>
        <!-- main content end -->
      </div>
    </div>
    <!-- Main container end -->
    <!-- Code for Sample graph -->
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 3,
                    fill:false
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        var ctx = document.getElementById('myChart2').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            // options: {
            //     scales: {
            //         yAxes: [{
            //             ticks: {
            //                 beginAtZero: true
            //             }
            //         }]
            //     }
            // }
        });
        var ctx = document.getElementById('myChart3').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        </script>
  </body>
</html>
